<ion-view view-title="Upload">
  <ion-content class="padding">
    <h2>Welcome to Ionic</h2>
    <ion-view class="has-header padding" ng-controller="imageController">
      <button class="button button-energized" ng-click="addImage(true)">
    	  Camera
      </button>
      <button class="button button-energized" ng-click="addImage(false)">
    	  Photo Library
      </button>
      <br><br>
      <div>
    	  <!-- <img ng-repeat="image in images" ng-src="{{urlForImage(image)}}" height="200px"/> -->
        <!-- <img ng-src="{{urlForImage(image)}}" height="400px"/> -->
        <meme-composite meme="memeInProcess"></meme-composite>
        <button class="button button-energized" ng-click="submitNewMeme(memeInProcess)">
      	  Submit
        </button>
      </div>
    </ion-view>
  </ion-content>
</ion-view>
