<ion-view view-title="Upload">
  <ion-content class="padding">

    <div class="has-header padding center"  style="width:100%; position:relative; text-align:center" ng-controller="imageController">
      <h2>HACKATHON STRATEGY</h2>
      <br>
      <br>
      <br>
      <button class="button button-positive" ng-click="addImage(true)">
    	  Camera
      </button>
      <button class="button button-positive" ng-click="addImage(false)">
    	  Photo Library
      </button>
      <br><br>
      <div>
    	  <!-- <img ng-repeat="image in images" ng-src="{{urlForImage(image)}}" height="200px"/> -->
        <!-- <img ng-src="{{urlForImage(image)}}" height="400px"/> -->
        <meme-composite meme="memeInProcess"></meme-composite>
        <button class="button button-positive" ng-click="submitNewMeme(memeInProcess)">
      	  Submit
        </button>
      </div>
    </div>
  </div>
</ion-view>
